* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:#140d3f;
    font-family:Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction:column;
    background-color:rgb(137, 219, 219);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color:#140d3f;
    padding:20px;
}

header nav {
    background-color:rgb(11, 197, 197);
    padding-top: 15px;
    margin-right: 40px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    display:inline-block;
}

ul {
    margin-right: 30px;
}

h1 {
    background-color: rgb(11, 197, 197);
    width: 400px;
    padding: 10px 20px;
    margin: 0 auto;
}


nav ul li{
    list-style-type:none;
    color: #140d3f;

}

/*displays list as inline block (next to each other)*/

header nav ul li{
    color:cyan;
    display: inline-block; 
    margin-left: 25px;
    }

/*blue striped hero background image*/

.hero {
    background-color: lightskyblue;
    background-image: url(./Images/240_F_288874532_hEG4jcoYw7vbEivHqneNJk5hyGyHLlPt.jpg);
    height:200px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.blurb {
    background-color: rgb(11, 197, 197);
    color: #140d3f;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    width: 300px;
    height: 50px;
    font-weight:bold;}

    .blurb p{
        font-weight:bold;
        font-size:28px;
    }

.profile-pic{
    width: 20%;
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

#covid-screenshot{
    height: 300px;
    width: 550px;
}

#horiseon-screenshot{
    height: 300px;
    width: 600px;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    padding:10px;
    font-size: xx-large;
    color:#140d3f;
}

h3{
    font-size:large;
    text-align:center;
}

.work{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.about{
    display:flex;
}


.left {
    float:left;
    border-right: 5px solid #140d3f;
   
    
}

img {
    border-bottom:black;
    width: 400px;
}

img:hover{
    opacity:75%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:space-between;
    border: black;
}

.flex-child {
    font-weight:bold;
    background-color:rgb(11, 197, 197);
    padding: 10px;
    margin: 10px;
    width: 700px;
    height: 400px;
    
    flex-direction:row;
}

#firstitem{
width:90%;
padding: 5px;
}

#runbuddy{
    width: 70%;
    margin: 50px;
    align-self:auto;
    border: 5px black;
}


.flex-parent {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}   

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .contact-info ul{
    list-style-type:none;
}

footer .contact-info ul li {
    display: inline-block;
    text-decoration:underline;
    color:#140d3f;
    font-size:x-large;

}


@media screen and (max-width: 998px){

.profile-pic {
    width: 100px;
    height: 100px;
}

}

/*media query to make screen responsive at 768 pixels or less*/

@media screen and (max-width: 768px){

    header {
        width: 100%;
    }

    header h1 {
        width: 100%;
        text-align:center;
        padding: 5px 10px;
        margin:30px;
    }

    header nav ul {
        font-size: larger;
    }

    .left {
        border: none;
    }

    body{
        background-color:lightskyblue;
        flex-direction:column;
    }

    .flex-row{
        flex-direction:column;
    }

    .about{
        flex-wrap:wrap;
    }

    .flex-child{
        background-color:lightskyblue;
        margin:5px;
        
    }
    
    #runBuddy {
        width:100%;
    }

    a {
        border: 10px black;;
    }

    .blurb {
        width: 80%;
    }

    .blurb p{
        font-weight:bold;
        font-size:22px;
    }

    h2 {
        text-align:center;
        width:100%;
    }

    .profile-pic{
        width: 100%;
        height: 100%;
        padding: 40px;
        margin: 10px;
    }


    #runbuddy {
        width: 90%;
    }

    footer {
        width: 100%;
    }

    .contact-info{
        display:flex;
        flex-direction: column;
    }

    .covid-screenshot{
        width: 300px;
        height: 100px;
    }

    
}